.o_field_widget .o_selection .o_radio {
  border-radius: 50%; /* Makes it circular */
  width: 20px; /* Width of the circle */
  height: 20px; /* Height of the circle */
  display: inline-flex; /* Centers the text */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.o_field_widget .o_selection input[type="radio"][value="win"] + label {
  background-color: green; /* Green for Win */
  color: white; /* Text color for readability */
}

.o_field_widget .o_selection input[type="radio"][value="loose"] + label {
  background-color: red; /* Red for Loose */
  color: white; /* Text color for readability */
}
